h1{
color: black;
text-align: center;
font-size: 60px;
font-family: times new roman ;
}

ul {
  list-style-type: none;
  backround-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  backround-color: black;
}



  



  
