h1{
color: black;
text-align: center;
font-size: 60px;
font-family: times new roman ;
}

ul {
  list-style-type: none;
  backround-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}


  



  
